{
  "openapi": "3.0.0",
  "info": {
    "title": "Customer Facing Endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.induced.ai/api/v1"
    }
  ],
  "paths": {
    "/workflows": {
      "get": {
        "summary": "List Workflows",
        "operationId": "listWorkflows",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "List Workflow Runs",
        "operationId": "listWorkflowRuns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/workflows/{id}/runs/{runid}": {
      "get": {
        "summary": "Get Workflow Run",
        "operationId": "getWorkflowRun",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/workflows/{id}/run": {
      "post": {
        "summary": "Run Workflow",
        "operationId": "runWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "summary": "List Datasets",
        "operationId": "listDatasets",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/datasets/{id}": {
      "get": {
        "summary": "Get Dataset",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
